<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="org.juke.MemberMapper">

	<insert id="create" parameterType="MemberVO">
		insert into tbl_member(userid, userpw, nick)
		values (#{userid}, #{userpw}, #{nick})
	</insert>

	<select id="read" resultType="MemberVO">
		select * from tbl_member
		where userid=#{userid} and userpw=#{userpw};
	</select>

</mapper>
