<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.juke.MusicMapper">

	<insert id="create" parameterType="MusicVO">
		insert into tbl_music(mno, title, singer, album, jacket, userid)
		values (seq_mno.nextval, #{title}, #{singer}, #{album}, #{jacket}, #{userid})
	</insert>	
	
	<select id="read" resultType="MusicVO">
		select * from tbl_music where mno=#{mno}
	</select>
	
	<update id="update" parameterType="MusicVO">
		update tbl_music set title= #{title}, singer=#{singer}, album=#{album}, jacket=#{jacket} where mno=#{mno}
	</update>
	
	<delete id="delete" parameterType="MusicVO">
		delete from tbl_music where mno = #{mno}
	</delete>
	
	<select id="list" resultType="MusicVO">	<!-- @@@@@@@@@@@@@ 확인 @@@@@@@@@@@@@ -->
		select * from
		(
		<!--	select rownum, mno, title, singer, album, jacket, userid
			 from tbl_music where (#{listNum}-5) < rownum <= #{listNum} and mno > 0 -->
		)
		where mno > 0	 <!--  listNum paging 시 5개 단위로... -->
	</select>
	
</mapper>