<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.juke.ReplyMapper">

	<insert id="create" parameterType="ReplyVO">
		insert into tbl_reply(rno, mno, userid, content)
		values (seq_rno.nextval, #{mno},#{userid}, #{content})
	</insert>	
	
	<select id="read" resultType="ReplyVO">
		select * from tbl_reply where rno=#{rno}
	</select>
	
	<update id="update" parameterType="ReplyVO">
		update tbl_reply set content = #{content} where  rno = #{rno}
	</update>
	
	<delete id="delete" parameterType="ReplyVO">
		delete from tbl_reply where rno = #{rno}
	</delete>
		
	<select id="list" resultType="ReplyVO">
		
	</select>
	
</mapper>